@*@model IEnumerable<TiendaVideojuegos.Models.Producto>*@
@model PagedList.IPagedList<TiendaVideojuegos.Models.Producto>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Productos";
}

<h2>Productos</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
@using (Html.BeginForm("Index", "Productoes", FormMethod.Get))
{
    <p>
        Búsqueda por nombre, precio o categoria: @Html.TextBox("strBusqueda", ViewBag.CurrentFilter as string)
        <input type="submit" value="Buscar" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Categoria", "Index", new { sortOrder = ViewBag.CategoriaSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Producto", "Index", new { sortOrder = ViewBag.NombreSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Precio", "Index", new { sortOrder = ViewBag.PrecioSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Descripción
        </th>
        <th>
            Carátula
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @using (Html.BeginForm("AgregarCarrito", "Productoes", FormMethod.Post))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    <img class="img-responsive" width="80" height="80" src="@Url.Content(item.RutaImagen)" alt="Image" />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductoID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProductoID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductoID })
                </td>
                <td>
                    <input type="submit" class="btn btn-primary" id="submitId" value="Agregar al carrito" />
                    @*@Html.ActionLink("Agregar al carrito", "AgregarCarrito", "Productoes", new { id = item.ProductoID, Cantidad = "Boton" }, new { @class = "btn btn-primary", @role = "submit" })*@
                    @Html.TextBox("Cantidad", 1, new { @type = "number", min = "1" })
                    @Html.HiddenFor(modelItem => item.ProductoID)
                </td>
            }
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))



